html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

header {
  background-color: #d3eb7b;
  text-align: center;
}

nav {
  /*background-color: #ffe1f4;*/
  display: inline-block;
  width: 80%;
}

header img {
  width: 10%;
  position: relative;
  top: 20px;
}

main {
  background-color: #92befd;
  font-size: 100%;
}

footer {
  background-color: #d6d6d6;
}

/*
li {
  display: inline-block;
  width: 30%;
  text-align: center;
  height: 50px;
  line-height: 250%;

}
*/
nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

p {
  line-height: 150%;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  row-gap: 10px;
  justify-content: space-evenly;
  align-content: center;
}

.grid img {
  width: 100%;
}

.flex {
  display: flex;
  
}

.current {
  background-color: blue;
  color: white;
}
